#!/bin/sh
{% if ansible_hostname == "asks2" %}
'feh' '--no-xinerama' '--bg-center' '{{ feh_image_random.stdout }}'
{% endif %}
{% if group_names is search("laptop") %}
'feh' '--bg-scale' '{{ feh_image_random.stdout }}'
{% endif %}
