#jinja2: lstrip_blocks: "true"
# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
   colors = true
   interval = 5
}

{# ipv6 shows address for first interface with an available IPv6 address, which
is often the wrong interface (e.g., the tailscale interface). I find this annoying,
and will rather not show IPv6 address until a specific interface can be specified.
https://github.com/i3/i3status/issues/283 #}
# order += "ipv6"
order += "disk /"
{% if (ansible_form_factor is search("notebook", ignorecase=true)) %}
order += "wireless _first_"
{% endif %}
order += "ethernet _first_"
{% if group_names is search("laptop") %}
order += "battery all"
{% endif %}
order += "load"
order += "tztime local"

{% if (ansible_form_factor is search("notebook", ignorecase=true)) %}
wireless _first_ {
   format_up = "W: (%quality at %essid) %ip"
   format_down = "W: down"
}
{% endif %}

ethernet _first_ {
	{# if you use %speed, i3status requires root privileges #}
	{# format_up = "E: %ip (%speed)" #}
   format_up = "E: %ip"
   format_down = "E: down"
}

{% if group_names is search("laptop") %}
battery all {
   format = "%status %percentage %remaining"
}
{% endif %}

tztime local {
   {% if group_names is search("laptop") %}
   # 2022-11-12 08:13:35 (updates every 5 seconds)
   format = "%Y-%m-%d %H:%M:%S"
   {% else %}
   # weekday Y-m-d H:M
   format = "%a %Y-%m-%d %H:%M"
   {% endif %}
}

load {
   format = "%1min"
}

disk "/" {
   format = "%avail"
}
