[Desktop Entry]
Name=Password manager
Type=Application
Exec={{ ansible_env.HOME }}/.local/bin/rofi-pass
Comment=
Categories=Utility;
Keywords=rofi;pass;password manager;
Terminal=false
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
