[Desktop Entry]
Name=Rofi VSCodium launcher
Type=Application
Exec={{ roficode_bin }} --rofi "rofi -dmenu -p 'VSCodium' -theme gruvbox-dark-soft -no-custom"
Comment=rofi script to open VSCodium workspaces
Categories=Utility;
Keywords=rofi;vscode;
Terminal=false
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
