[Desktop Entry]
Type=Application
Name=Rofi file selector
Comment=Script to search and open files
Exec={{ rofi_file_selector_path }}/rofi-file-selector.sh
Terminal=false
Categories=Utility;
Keywords=rofi;file selector;open files;search files;papers;personal;
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
